<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.data[site.language].whatWeDo}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data[site.language].activitiesSubheading}}</h3>
                </div>
            </div>
            <div class="row text-center">
                <p>Putting the <a href="https://blogs.tib.eu/wp/tib/2017/09/12/the-fair-data-principles-for-research-data/">FAIR Data Principles</a> into practice and applying them to research software.</p>
                {% for activity in site.data[site.language].activities %}
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{activity.icon}} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">{{activity.title}}</h4>
                        <p class="text-muted">{{activity.description}}</p>
                    </div>
                {% endfor %}
            </div>
            <div align="center">
                <a href="http://www.einfracentral.eu/news/einfracentral-and-fair-principles">
                    <img src="img/FAIR-vertical.png" alt="FAIR Data Principles: Findable, Accessible, Interoperable, Reusable">
                </a>
            </div>
        </div>
    </section>
